<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>营销平台</title>
     <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'onorientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;

                        if (!clientWidth) return;

                        //在375px宽度的屏幕下 1rem = 100px
                        docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
                    };

            if (!doc.addEventListener) return;

            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);

        })(document, window);

    </script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
